:root {
  --titlebar-height: 40px;
  --statusbar-height: 20px;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "inter", sans-serif;
  user-select: none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content {
  flex: 1;
  height: 100%;
  clip: auto;
  display:flex;
  flex-direction: column;
  color: white;

  background-color: rgb(0, 0, 0);
  height: calc(100vh - 40px);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.windows {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.webview {
  flex: 1;
}