:root {
  --titlebar-height: 40px;
  --statusbar-height: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "inter", sans-serif;
  background: white;
  user-select: none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content {
  display:flex;
  flex-direction: column;
  height: calc(100vh - 40px);
}

.windows {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.webview {
  flex: 1;
}