.lockscreen-time {
  font-size: 100px;
  font-weight: bold;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lockscreen-date {
  font-size: 20px;
  font-weight: lighter;
}

.lockscreen {
  flex: 1;
  color: #ffffff;
  /* URL Lockscreen */
  background: url("https://img.freepik.com/vecteurs-libre/fond-neons-realistes_23-2148907367.jpg") no-repeat;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: calc(100vh - 40px);
  position: absolute;
  top: 40px;
  z-index: 110;
}

.lockscreen-swipe {
  background-color: rgba(0, 0, 0, 0.75);
  filter: blur(15px);

  width: 110vw;
  height: 60px;
  position: absolute;
  bottom: -20px;
  z-index: 90;
}
.lockscreen-swipe::before {
  backdrop-filter: blur(15px);
}