.titlebar {
  height: 40px;
  width: calc(100% - 20px);
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 10px;
  z-index: 9999;
  
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.actions {
  margin-left: auto;

  -webkit-app-region: no-drag;
}

.badge {
  margin-left: 10px;
  background: aliceblue;
  background: linear-gradient(90deg, rgb(121, 0, 0) 0%, rgb(221, 0, 0) 100%);
  padding: 5px 10px;
  border-radius: 30px;
}